<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="ExeName" value="test.exe"/>
      <add key="ExeHash" value="301437983FECBEDFD493D813F5ECECAE"/>
      <add key="ChecksCount" value="5"/>
      <add key="CheckInterval" value="30"/>
      <add key="ResponseTimeout" value="30"/>
      <add key="DBAddress" value="ALEX-NOTEBOOK"/>
      <add key="DBName" value="Anticheat"/>
      <add key="Host" value="127.0.0.1"/>
      <add key="Port" value="43555"/>
    </appSettings>
</configuration>